<div class="container">
  <main class="content">
    <div class="columns">
      <div class="column"></div>
      <div class="column is-two-fifths">
        <div class="card">
          <header class="card-header has-text-centered">
            <p class="card-header-title">BIENVENIDO</p>
          </header>
          <div class="card-content">
            <form (submit)="login()">
              <div class="field">
                <p class="control">
                  <input class="input" type="email" [(ngModel)]="user.email"  name="email" placeholder="Correo"/>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <input class="input" type="password" [(ngModel)]="user.password"  name="password" placeholder="Contraseña"/>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <button class="button is-link is-fullwidth" type="submit">entrar</button>
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="column"></div>
    </div>
  </main>
</div>